.html5ls-plain-hide {
  display: none;
}

.html5ls-plain {
  position: absolute;
  background: transparent url(../images/local-storage.png) no-repeat center center;
  cursor: pointer;
  opacity: 0.5;
  margin: 1px 0 0 -1px;
  width: 22px;
  height: 20px;
}

.form-type-textfield .html5ls-plain {

}

.form-type-textarea .html5ls-plain {

}

.form-type-select .html5ls-plain {
  margin-left: 22px;
  height: 21px;
}

.html5ls-plain.html5ls-plain-restored {
  background-color: #C2CBE0;
  outline: 1px solid #888;
  opacity: 0.75;
}

.html5ls-plain:hover {
  background-color: #C2CBE0;
  outline: 1px solid #888;
  opacity: 0.75;
}
